#image_nav {
    max-width: 200px;
    max-height: 40px;
}
main{
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
}

.dropdown-menu {
    align-items: flex-end;
}

.nav-item {
    margin: 5px;
}

.navbar {
    margin-bottom: 20px;
}

/* Custom card styles */
.card-custom {
    width: 18rem; /* Fixe la largeur de la carte */
    height: calc(18rem * 1.25); /* La hauteur est 1.25x la largeur pour garder un rapport */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem; /* Ajustement de la taille du titre */
    margin-bottom: 0.5rem;
}

.btn {
    margin: 3px;
}

.card-img-top {
    width: 100%;
    height: 50%; /* Ajuste l'image pour remplir 50% de la hauteur de la carte */
    object-fit: cover;
}

.lang-icon {
    width: 24px;  /* Fixer la largeur pour que les icônes soient petites */
    height: auto; /* Conserver le ratio d'aspect original */
    cursor: pointer;
}

/* Optionnel: Ajoutez un effet de survol pour rendre les icônes interactives */
.lang-icon:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}
