<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-enchere(
      titrePage=~{:: title},
      contenuPage=~{:: main},
      ressourcesSupp=~{:: #ressources-css})}">
<head>
  <title data-th-text="#{login.title}"></title>
  <th:block id="ressources-css">
    <link rel="stylesheet" data-th-href="@{/css/demo-form.css}">
    <link rel="stylesheet" data-th-href="@{/css/demo-error.css}">
    <script th:src="@{/js/validation.js}"></script>
  </th:block>
</head>
<body>
<main mt-5>
  <form th:action="@{/profil/change-password}" method="post">
    <h1 data-th-text="#{view-change-password.title}"></h1>
    <div class="cards" th:if="${error}" data-th-text="${error}"></div>
    <div class="cards" th:if="${success}" data-th-text="#{view-change-password.success}"></div>
    <ul class="flex-outer">
      <li>
        <label for="ancien-password" data-th-text="#{view-change-password.ancien.pwd}"></label>
        <input type="password" id="ancien-password" name="ancienMotDePasse" placeholder="mot de passe actuel" required/>
      </li>
      <li>
        <label for="password" data-th-text="#{view-change-password.new.pwd}"></label>
        <input type="password" id="password" name="nouveauMotDePasse" placeholder="nouveau mot de passe" required/>
      </li>
      <li>
        <label for="confirmation" th:text="#{frag-form.label.confirmation}"></label>
        <input type="password" id="confirmation" name="confirmerMotDePasse" required>
      </li>

      <li>
        <button href="/register" data-th-text="#{view-change-password.btn.valider}"></button>
        <button href="/profil" data-th-text="#{view-change-password.btn.annuler}"></button>
      </li>
    </ul>
  </form>
</main>
</body>
</html>